.navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.315) !important; 
  z-index: 1;
  width: 100% !important;
}

.navbar-nav .nav-link:hover {
  color: #052e07 !important;
  font-weight: bold;
  font-size: 15px;
}

.logo{
  max-width: 50px;
}   

@media (max-width: 768px) {
  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    width: 100%;
    top: 100%;
    left: 0;
    border: 1px solid #eee;
    box-shadow: none;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 0;
    display: block;
  }
}